@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <h1 class="display-4">MyTemplateMVC6</h1>
    <p>This is my base template for starting a new MVC project in .NET 6!</p>
</div>
<div class="row text-center">
    <div class="col d-flex text-start">
        <div class="row">
            <div class="col d-flex text-start">
                <h5>NEW features at the time of this commit:</h5>
            </div>
            <div class="row text-center">
                <div class="col d-flex text-start">
                    <ul>
                        <li>
                            postgresql on local dev machine (or server, once user secrets is updated with specifics)
                        </li>
                        <li>
                            identity framework setup and a custom app user inherits from identity user
                        </li>
                        <li>
                            first migration has been established
                        </li>
                        <li>
                            configuration should allow for running on heroku and railway without further tweaks needed
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex text-start">
            <h5>
                features added in previous commits:
            </h5>
        </div>
        <div class="row text-center">
            <div class="col d-flex text-start">
                <ul>
                    <li>
                        just standard scaffold for basic MVC web app
                    </li>
                    <li>
                        ready to Ctrl+F (find) and Replace All: "MyTemplateMVC6" with the name of the new app
                    </li>
                    <li>
                        installed nuget: Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore
                    </li>
                    <li>
                        installed nuget: Microsoft.AspNetCore.Identity.EntityFrameworkCore
                    </li>
                    <li>
                        installed nuget: Microsoft.AspNetCore.Identity.UI
                    </li>
                    <li>
                        installed nuget: Microsoft.EntityFrameworkCore
                    </li>
                    <li>
                        installed nuget: Microsoft.EntityFrameworkCore.Tools
                    </li>
                    <li>
                        installed nuget: Microsoft.VisualStudio.Web.CodeGeneration.Design
                    </li>
                    <li>
                        installed nuget: Npgsql.EntityFrameworkCore.PostgreSQL
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>